* {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    list-style: none;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;

}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/img-body.webp');
    background-position: center;
    margin: 0;
    /* Remove margens padrão */
    padding: 0;


}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #1d1d1d;
    border-top-right-radius: 5px;
}

/*section {
    height: 100vh;
}
*/
/* Contêiner principal da logo */
.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    font-size: 1.4rem;
    font-weight: bold;
    background: linear-gradient(90deg, #00f, #0ff, #0f0, #ff0, #f00, #f0f, #00f);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    animation: ps2Animation 5s infinite linear;
    background-size: 200% 200%;
    letter-spacing: 2px;
    font-weight: 700;

}



/* Estilização da imagem da logo */
.Logo img {
    height: auto;
    width: 60px;
    margin-right: 10px;
}

/* Estilização do contêiner da navegação */
.Container-Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 8);
    top: 0;
    position: fixed;
    width: 100%;
}

.Nav-Bar {
    display: flex;
    justify-content: space-around;

}

/* Estilização dos itens da navegação */
.Inicio,
.Jogos-PS3,
.Jogos-PS4,
.Jogos-PS5,
.PC-Gamer,
.Console-li {
    color: rgb(145, 57, 228);
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px;
}

.Inicio:hover,
.Jogos-PS3:hover,
.Jogos-PS4:hover,
.Jogos-PS5:hover,
.PC-Gamer:hover,
.Console-li:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}




.Container-Principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 0;
}

.Container-Principal h1 {
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

}

.Container-Principal p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.Container-Principal button {
    background-color: rgb(25, 248, 81);
    color: rgb(26, 22, 22);
    padding: 10px;
    border-radius: 7px;
    width: 100px;
    border: 01px solid black;
    margin-top: 4px;

}

.Container-Jogos-PS3 {
    background-color: #1d1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*height: 100vh;*/
    padding: 5px 5%;
}

.Container-Jogos-PS4 {
    background-color: #1d1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100vh; */
    padding: 5px 5%;
}


.Jogos {
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 170px;
    max-width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 01px solid rgb(5, 5, 5);
    margin-top: 8px;
}

.Jogos img {
    height: 135px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    /* Garante que a imagem ocupe a área designada sem distorção */
    margin-top: 0;
    /* Garante que a imagem esteja no topo */

}

.Jogos button {
    background-color: rgb(145, 57, 228);

    color: rgb(7, 7, 7);
    border-radius: 7px;
    width: 60%;
    padding: 4px;
    margin-top: 8px;
}

.Jogos button:hover {
    cursor: pointer;
    background-color: rgb(109, 17, 109);


}

.Container-Console,
.Container-PC {
    display: flex;
    background: rgb(255, 238, 238);
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;

}



.Console,
.PC {
    max-width: 250px;
    height: 250px;
    width: 100%;
    background: rgb(255, 233, 238);
    box-shadow: 2px 4px 4px rgb(0, 0, 0);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}

.Console:hover,
.PC:hover {
    transform: scale(1.02);
    transition: 1s;
}

.Console img,
.PC img {
    height: auto;
    width: 160px;
}

.Console button,
.PC button {
    background-color: rgb(24, 23, 26);
    color: rgb(255, 241, 241);
    border-radius: 7px;
    width: 60%;
    padding: 10px;
    margin-top: 15px;
}

.Console button:hover,
.PC button:hover {
    background-color: rgb(9, 9, 10);
    cursor: pointer;

}

.Container-Form {
    display: flex;
    background: rgb(14, 13, 13);
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

}

.Container-Form img {
    height: auto;
    width: 500px;
}

.Inputs-Form h1 {
    font-size: 1.4rem;
    color: #fff9f9;
    font-weight: 700;
    letter-spacing: 2px;
}

.Inputs-Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(14, 12, 12);
    max-width: 350px;
    width: 100%;
    height: 250px;
    background-color: rgb(96, 15, 172);
    border-radius: 7px;
}


.Inputs-Form input {
    background-color: #0e0d0d;
    color: #ccc;
    border-radius: 7px;
    border: 1px solid rgb(14, 12, 12);
    padding: 15px;
    width: 80%;
    margin-top: 15px;
    font-size: 17px;
}

.Inputs-Form button {
    width: 70%;
    background-color: rgb(46, 0, 32);
    color: #ffffff;
    border-radius: 7px;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
}

.Inputs-Form button:hover {
    cursor: pointer;
    background-color: rgb(24, 0, 24);
}

.Container-Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 13, 13);
}

.Container-Footer h1 {
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

}

.Container-Footer svg {
    margin-left: 15px;
}

.Container-Footer span {
    margin-left: 15px;
    color: #ccc;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1.1rem;
}



@keyframes ps2Animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media all and (max-width: 767px) {


    .Container-Nav {
        display: none;
    }


    .Container-Principal {
        width: 100%;

    }

    .Container-Principal h1 {
        font-size: 45px;
    }

    .Container-Principal p {
        font-size: 20px;
        padding: 18px 4%;

    }

    .Container-Jogos-PS3,
    .Container-Jogos-PS4,
    .Container-Console,
    .Container-PC,
    .Container-Form {
        width: 100%;
    }

    .Container-Console,
    .Container-PC {
        height: 100vh;
        flex-direction: column;
    }


    .Console,
    .PC {
        width: 70%;
    }

    .Jogos {
        flex-direction: column;
        width: 50%;
    }

    .Container-Form {
        flex-direction: column;
    }

    .Inputs-Form {
        width: 60%;
    }

    .Inputs-Form input {
        width: 70%;
    }



    .Container-Form img {
        width: 70%;
    }

    .Container-Footer h1 {
        font-size: 18px;
    }

    .Container-Footer span {
        font-size: 18px;
    }
}
